*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

body{
    background-color: hsl(204, 43%, 93%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.5rem;
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

h2{
    color: hsl(71, 73%, 54%);
}

h3{
    color: hsl(204, 43%, 93%);
    font-weight: 700;
    font-size: 1.2rem;
}

p{
    line-height: 25px;
    color: rgb(159,166,204);
}

ul{
    list-style: none;
    margin-top: 15px;
}
li{
    line-height: 20px;
    font-size: 14px;
    color: rgb(220,227,197);
}
button{

    background-color: hsl(71, 73%, 54%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 50px -10px;
    margin-top:20px;
    cursor: pointer;
    color: hsl(204, 43%, 93%);

}

.card-container{
    border-radius: 10px;
    height:60vh;
    width: 42vw;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 5px 30px 0px lightblue;
}

.card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 45%;
    background-color: white;
    padding: 20px 20px 20px 40px;
}

.card-content{
    display: flex;
    flex-basis: 65%;
}

.monthly-subscription{
    background-color: rgb(42,178,175);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;

    height: 100%;
    color: hsl(204, 43%, 93%);
}

.monthly-subscription p{
    color:rgb(220,227,197);
}

.why-us{
    background-color: rgb(75,190,188);
    flex-basis: 50%;
    padding: 30px;
}
.per-month{
    color: cyan;
    margin-left: 10px;;
}
.price-number{
    font-size: 2rem;
    font-weight: 700;
}
.dollar-sign{
    font-size: 2rem;
    font-weight: 700;
}
.price{
    display: flex;
    align-items: center;
}
